{% extends "base.html.twig" %}

{% block title %}SVH-PHOTOGRAPHIE | Accueil
{% endblock %}

{% block body %}

	<section class="gallery p-section">

		<div class="section-titre">
			<h1>Galerie
				{{ galerie.name }}</h1>
			<h4>Galerie
				{{ galerie.name }}</h4>
		</div>

		<div class="container">
			<a href="{{ path('gallery') }}" class="p-3">Retour</a>
			<div class="row g-2">

			{% for photo in galerie.photos %}

			{% if photo %}
				<div class="col-6">
					<div class="p-3">
						<a href="../uploads/{{ photo.path }}" data-lightbox="example-set">
							<img class="gallery__image" src="../uploads/{{ photo.path }}" alt=""/>
						</a>
					</div>
				</div>
			
			{% endif %}

			{% else %}
				<h2 class="text-center">Aucune photo à afficher.</h2>
				
			{% endfor %}

			</div>
		</div>
	</section>

{% endblock %}
