{% extends "base.html.twig" %}

{% block title %}SVH-PHOTOGRAPHIE | Accueil
{% endblock %}

{% block body %}

	<section class="gallery p-section">

		<div class="section-titre">
			<h1>Galerie
				{{ galerie.name }}</h1>
			<h4>Galerie
				{{ galerie.name }}</h4>
		</div>
		<a href="{{ path('gallery') }}">Retourner à la galerie</a>

		<div class="gallery-content">
			<div class="gallery__column">
				{% for photo in galerie.photos %}

					{% if photo %}
						<a href="" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="../uploads/{{ photo.path }}" class="gallery__image" alt="">
								<figcaption class="gallery__caption">{{ photo.name }}</figcaption>
							</figure>
						</a>

					{% endif %}
				{% else %}
					<h2 class="text-center">Aucune photo à afficher pour votre recherche.<h2>
				{% endfor %}
			</div>
		</div>
	</section>

{% endblock %}
